body{
  background: #0a0e0e;
  font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #a1bcc5;
}
h2{
  font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    background: linear-gradient(90deg, #00f1ff 0%, #5b3bcf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 48px;
}
@media only screen and (min-width: 1440px) {
  body{
font-size: 18px;
  }
  h2{
    font-size: 48px;
  }
}